<%- include("partials/header") %>
<% if (userLog===true){ %>
  <%- include("partials/navbar") %>
<% } %>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">¡Cuántos secretos!</h1>
    <% if (userLog===true){ %>
      <% for (var i=0; i< usersWithSecrets.length; i++){ %>
        <% if (i%2===0){ %>
          <p class="secret-text"><%= usersWithSecrets[i].secret %></p>
        <% } else { %>
          <p class="secret-text2"><%= usersWithSecrets[i].secret %></p>
    <% }} %>
    <hr>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Enviar un secreto</a>
    <% } else { %>
      <p class="secret-text">Aquí podrás ver todos los secretos</p>
      <p class="secret-text2">Regístrate o haz login con tu cuenta</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Registro</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      <% } %>
  </div>
</div>

<%- include("partials/footer") %>
